.git
.github
.gitignore
.DS_Store
.venv
__pycache__
*.py[cod]
.ruff_cache
.next
node_modules
documents
.firebase
.firebaserc
firebase-debug.log
firebase.json
.secrets
*.log
coverage
dist
build
tmp
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
