dotenv>=0.9.9
fastapi>=0.121.2
firebase-admin>=7.1.0
google-cloud-storage>=3.5.0
openai>=2.8.0
pgvector>=0.4.1
pdfplumber>=0.11.7
psycopg[binary, pool]>=3.1.7
python-multipart>=0.0.20
uvicorn>=0.38.0
